# Auth0 Configuration
AUTH0_SECRET='use [openssl rand -hex 32] to generate a 32 bytes value'
AUTH0_BASE_URL='http://localhost:3002'
AUTH0_ISSUER_BASE_URL='https://dev-s3ql6fuorkk3gc6t.us.auth0.com'
AUTH0_CLIENT_ID='QfTgCHeW0ZA45at9rGO5jmuFbetZNabq'
AUTH0_CLIENT_SECRET='t3rM2KjaULb5FpWq4Sc23FNl6u8dSxcNvEQAqT1e35hyaN5MCSHZF7gCEUJ4Qoxd'

# NextAuth Configuration
NEXTAUTH_URL='http://localhost:3002'
NEXTAUTH_SECRET='use [openssl rand -hex 32] to generate a 32 bytes value'

# Auth0 User Info
AUTH0_USERNAME='codelogiforce'
AUTH0_PASSWORD='1253=*3-494%4eDd'
AUTH0_CONNECTION='Username-Password-DB' 